html body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header {
    background-image: url("./girl.jpg");
    background-position: center;
    opacity: 0.8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
    "steps" "navigation" 
    "hero" "hero";
    font-family: 'Roboto', sans-serif;
    color: white;
}

 .main {
     display: grid;
     grid-template-columns: 2fr 1fr;
     grid-template-rows: 2fr;
     grid-template-areas:
     "section" "aside"
     "aside"  "aside";
     height: 400px;
 }

 .footer {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     grid-template-areas: 
     "information";
 }

 .navigation {
     float: left;
     list-style: none;
     text-align: center;
     margin: 30px;
 }

 .navigation-list li {
    display: inline;
    margin: 30px;
 }

a {
    padding: 15px;
    background-color: tomato;
}

h2 {
    font-size: 25px;
}

.steps {
     text-align: left;
     font: bold;
     margin: 20px;
     padding-left: 90px;
}

.hero {
    padding: 100px;
    font-size: 40px;
}

.hero-section {
    margin-top: 80px;
}
.hero-icon {
    list-style: none;
}

.hero-icon p {
    font-size: 15px;
}

.circle .options {
    display: block;

}

.options {
    list-style: none;
}

.options {
    font-size: 20px;
    float: left;
}

.fa-map-marker {
    color: black;
}

span {
    display: block;
    font-size: 60px;
  }

.circle {
    width: 75px;
    height: 75px;
    float: left;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 200%;
  }